Intermediate
AS_DEBUG
/Siv3DApplicationMarkupLanguage/App/Siv3DApplicationMarkupLanguage(debug).exe
/Siv3DApplicationMarkupLanguage/App/Siv3DApplicationMarkupLanguage(debug)_log.html
/Siv3DApplicationMarkupLanguage/*.user
.vs
/Siv3DApplicationMarkupLanguage/App/Screenshot
